html {
    font: 15pt Arial;
}
body {
    background: url("background_php.jpg") no-repeat top center fixed;
    background-size: cover;
}

div::before {
    content: " Exercícios em PHP - Ruane Fraga ";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #14A294;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

div {
    background-color: #ffffff;
    margin: 100px auto 100px auto;
    padding: 10px;
    border-radius: 5px;
    width: 550px;
    min-height:300px;
}

a {
    text-decoration: none;
    font: 10pt Helvetica;
    color: white;
    background-color: #274C55;
    border: #274c55;
    border-radius: 3px;
    padding: 5px;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

input.botao{
    color: white;
    background-color: #274C55;
    border: #274c55;
    border-radius: 3px;
    padding: 5px;
}